# ==========================================
# VARIABLES DE ENTORNO DEL BACKEND
# ==========================================

# Entorno (production para despliegue en la nube, development para local)
NODE_ENV=production
PORT=3000

# Base de Datos (Para la nube, usa DATABASE_URL, ignora las otras)
DATABASE_URL=mysql://usuario:contraseña@host:puerto/basedatos

# Base de Datos (Si usas las variables individuales)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=123456
DB_NAME=lacocadejacks

# Meta / WhatsApp API
WEBHOOK_VERIFY_TOKEN=mi_token_secreto_123
WHATSAPP_TOKEN=tu_token_de_acceso_temporal_o_permanente_aqui
PHONE_NUMBER_ID=tu_identificador_de_numero_de_telefono_aqui

# JWT (Para Sesiones)
JWT_SECRET=tu_clave_secreta_aqui_super_segura
